body {
  margin-top: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  font-size: max(20px, 3vw);
  margin-top: 0px;
  margin-bottom: 0px;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.text {
  text-align: center;
}

.subtitle {
  color: rgb(112, 112, 112);
  font-family: 'Courier New', Courier, monospace;
}

.instructions {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}