body {
  margin-top: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  font-size: max(20px, 4vw);
  margin-top: 0px;
  margin-bottom: 0px;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.fade_in {
  animation-name: fade-in;
  animation-duration: 3s;
}
.fade_out {
  animation-name: fade-out;
  animation-duration: 3s;
}


.left {
  animation-name: left;
  animation-duration: 1.5s;
}
.right {
  animation-name: right;
  animation-duration: 1.5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes left {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes right {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.text {
  position: relative;
  left: 300px;
  text-align: center;
  background-color: blanchedalmond;
  width: 700px;
}
.text_difficulty {
  position: relative;
  text-align: center;
  background-color: blanchedalmond;
  width: 300px;
  left: 495px;
  margin-top: 150px;
}

.subtitle {
  color: rgb(112, 112, 112);
  font-family: 'Courier New', Courier, monospace;
}

.instructions {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 150px;
}

.login_logout {
  position: absolute;
  left: 30px;
  bottom: 50px;
}