.Ball {
  height: 5vmin;
}

#fill_screen {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  background-image: url('./Rock_background.jpg');
  z-index: -1;
}

#ball-image {
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
    .Ball { 
      animation: Ball-spin infinite 1s linear
    }
  }

@keyframes Ball-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.in_line {
  text-align: center !important;
  position: absolute;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100% !important;
  margin-top: 0px;
  margin-bottom: 150px;
  left: 495px;
}

.ok_button {
  position: absolute;
  left: 565px;
  margin-top: 150px;
  width: 150px;
  height: 100px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

