
.text {
    position: relative;
    text-align: center;
    background-color: blanchedalmond;
    font-family: 'Permanent Marker', cursive;
}

h1 {
    position: relative;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 20px;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Carter One', cursive;
    font-family: 'Sriracha', cursive;
    font-family: 'Ranchers', cursive;
    font-family: 'Aclonica', sans-serif;
    font-size: 8vmin;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.text_difficulty {
    margin-top: 150px;
    font-size: 4vmin;
}

.subtitle {
    color: rgb(112, 112, 112);
    font-size: 2vmin;
}

.instructions {
    color: black;
    font-size: 2vmin;
}

.in_line {
    text-align: center !important;
    position: relative;
    min-height: 1px;
    max-width: 100% !important;
}
  
.ok_button {
    border-width: 0.6vmin;
    border-radius: 100%;
    position: relative;
    margin-top: 150px;
    width: 150px;
    height: 100px;
    font-size: 30px;
}

#fill {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    background-image: url('../Backgrounds/nature.jpg');
    background-size: cover;
    z-index: -1;
}
  
.button1{
    padding:0.35em 1.2em;
    border-radius: 0.8vmin;
    border-width: 1vmin;
    position: absolute;
    margin-top: 15%;
    /* font-family:'Bebas',sans-serif; */
    font-family: 'Sriracha', cursive;
    font-size: 2vmin;
    font-weight:800;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#000000;
    background-color:#868686;
}

@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
    }
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}