.attempt {
  font-family: 'Permanent Marker', cursive;
  font-size: 4vmin;
  animation-name: rise;
  animation-duration: 1s;
}
@keyframes rise {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

#fill_screen {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#background {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  opacity: 50%;
  background-size: contain;

  z-index: -5;
}

