.white_text {
  font-size: xx-large;
  color: white;
}

#fill_screen {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  background-image: url('../Backgrounds/Rock_background.jpg');
  z-index: -1;
}

