.attempt {
  font-family: 'Permanent Marker', cursive;
  font-size: 4vmin;
  animation-name: rise;
  animation-duration: 1s;
}
.time {
  position: relative;
  float: right;
  font-family: 'Permanent Marker', cursive;
  font-size: 4vmin;
  animation-name: rise;
  animation-duration: 1s;
}
@keyframes rise {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes slideAndLeave {
	0% {
    opacity: 0;
		transform: translateX(-800px);
	}
  50% {
    opacity: 1;
    transform: translate(0%);
  }
	100% {
    opacity: 0;
		transform: translateX(600px);
	}
}
@keyframes boing {
  10% {transform: translateY(-100px)}
  21% {transform: translateY(0px)}
  33% {transform: translateY(-80px)}
  46% {transform: translateY(0px)}
  60% {transform: translateY(-50px)}
  75% {transform: translateY(0px)}
  81% {transform: translateY(-20px)}
  98% {transform: translateY(0px)}
}

#fill_screen {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#background {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  opacity: 50%;
  background-size: contain;

  z-index: -5;
}

.qboxanim {
  opacity: 0;
  overflow: hidden;
  position:absolute;
  height: 20vmin;
  width: 20vmin;
  margin-top: 20%;
  margin-left: 45%;
  background-size: contain;
  animation-name: slideAndLeave;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.springanim {
  overflow: hidden;
  position: fixed;
  height: 314px;
  width: 50px;
  background-size:contain;
  animation-name: boing;
  animation-duration: 1s;
}

.section {
  background-color: blanchedalmond;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
}
